@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,400;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(./image/minion-back-ground-1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    width: 60%;
    margin: 0 1rem;
    background-color: rgb(255, 255, 127,0.5);
    border-radius: 1rem;
}

h1{
    padding: 1rem;
    color: black;
    font-size: 1.8rem;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    
}

textarea{
    display: block;
    height: 15vh;
    width: 150%;
    padding: 1rem;
    margin: 1rem ;
    border: 3px solid darkolivegreen;
    font-size: 1.4rem;
    color: darkblue;
    border-radius: 8px;
}

#output{
    border: 3px solid darkolivegreen;
    height: 15vh;
    width: 150%;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.6rem;
    color: darkblue;
    border-radius: 8px;
    background-color: white;
}

button{
    display: block;
    background-color: #768858;
    padding: 0.5rem 1rem;
    color: rgb(14, 33, 33);
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 6px;
    color: white;
}

button:hover{
    color: darkred;
    background: lightyellow;
    cursor: pointer;
}

h3{
    font-size: 1.6rem;
}

footer{
    background-color: rgb(255, 255, 127,0.5);
    width: 60%;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

footer p {
    width: 100%;
    font-size: 0.8rem;
}

/* media queries */

@media (max-width: 426px){

    body{
        background-position: left;
    }

    header{
        width: 80%;
    }

    header h1{
        font-size: 1.8rem;
    }

    textarea{
        width: 90%;
        font-size: 1rem;

    }

    #output{
        width: 90%;
        font-size: 1rem;
    }

    main h3{
        display: none;
    }

    footer{
        width: 60%;
    }

    footer p{
        font-size: 0.6rem;
    }
}